<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<title>TITLE</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">


	<!-- Font -->

	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">


	<!-- Stylesheets -->

	<link href="/bootstrap.css" rel="stylesheet">

	<link href="/ionicons.css" rel="stylesheet">

	<link href="/layerslider.css" rel="stylesheet">


	<link href="/styles.css" rel="stylesheet">

	<link href="/responsive.css" rel="stylesheet">

</head>
<body>

	<header>



		<div class="middle-menu center-text"><a href="#" class="logo"><img src="/images/logo.png" alt="Logo Image"></a></div>

		<div class="bottom-area">

			<div class="menu-nav-icon" data-nav-menu="#main-menu"><i class="ion-navicon"></i></div>

			<ul class="main-menu visible-on-click" id="main-menu">

				<li><a href="#">HOME</a></li>

			</ul><!-- main-menu -->

		</div><!-- conatiner -->
	</header>

    <section class="blog-area">
        <div class="container">
            <div class="row">

                <div class="col-lg-8 col-md-12">
                    <div class="blog-posts">

                        <div class="single-post">
                            <div class="image-wrapper"><img src="images/blog-1-1000x600.jpg" alt="Blog Image"></div>
                            <div class="starter-template">
                                <h1>Sklep:</h1>
                                <p th:text="${blog.name}" />
                            </div>

                            <h3>Komentarze</h3>
                            <ul th:each="comment: ${blog.comments}">
                                <li th:text="${comment}" />
                            </ul>


                            <h1>Dodaj komentarz</h1>

                            <form action="/comments" method="post" th:object="${comment}">
                                <input type="hidden" th:field="*{blog}">
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Opis sklepu oraz kupionych produktów </label>
                                    <div class="col-sm-10">
                                        <input th:field="*{name}" type="text" class="form-control" placeholder="Opis sklepu" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Cena koszyka</label>
                                    <div class="col-sm-10">
                                        <input th:field="*{description}" type="number" class="form-control" placeholder="Cena koszyka" required>
                                    </div>
                                </div>



                                <div class="form-group row">
                                    <div class="col-sm-10">
                                        <input type="submit" class="btn btn-primary btn-lg" value="Dodaj">
                                    </div>
                                </div>
                            </form>


                        </div>

                        <div class="image-wrapper"><img src="images/blog-2-1000x600.jpg" alt="Blog Image"></div>

                        <p class="desc">Eerror sit voluptatem accusantium doloremque
                            laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                            architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
                            consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et
                            laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                            architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
                            dolore magnam aliquam quaerat voluptatem.</p>



                    </div><!-- single-post -->



                    <div class="comments-area">
                        <h4 class="title"><b class="light-color">2 Comments</b></h4>
                        <div class="comment">
                            <div class="author-image"><img src="images/author-2-150x150.jpg" alt="Autohr Image"></div>
                            <div class="comment-info">
                                <h5><b class="light-color">William Smith</b></h5>
                                <h6 class="date"><em>Monday, October 30, 2017</em></h6>
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                    dolore magnam aliquam quaerat voluptatem.</p>
                            </div>
                        </div><!-- comment -->







	<footer>
		<div class="container">
			<div class="row">

				<div class="col-sm-6">
					<div class="footer-section">

					</div><!-- footer-section -->
				</div><!-- col-lg-4 col-md-6 -->

				<div class="col-sm-6">
					<div class="footer-section">
						<ul class="social-icons">
							<li><a href="#"><i class="ion-social-facebook-outline"></i></a></li>
							<li><a href="#"><i class="ion-social-twitter-outline"></i></a></li>
							<li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
							<li><a href="#"><i class="ion-social-vimeo-outline"></i></a></li>
							<li><a href="#"><i class="ion-social-pinterest-outline"></i></a></li>
						</ul>
					</div><!-- footer-section -->
				</div><!-- col-lg-4 col-md-6 -->

			</div><!-- row -->
		</div><!-- container -->
	</footer>


	<!-- SCIPTS -->

	<script src="common-js/jquery-3.1.1.min.js"></script>

	<script src="common-js/tether.min.js"></script>

	<script src="common-js/bootstrap.js"></script>

	<script src="common-js/layerslider.js"></script>

	<script src="common-js/scripts.js"></script>

</body>
</html>
